BOTNAME=Luna
SESSION=LUNA~code_here
XSERVER=https://lunaconnect-production.up.railway.app/session
MONGO=mongodb://frio:node@localhost:27017/luna?authSource=admin
REDIS=rediss_uri
NODE=development
OWNERNUMBER=123xxxxxxxxx
SUDOLID=93282663153890@lid
DEVNAME=FrioNode
OWNERNAME=Benson
OPENCHAT=120363402730534761@g.us
INVITE=group_invite_code
CHANNELID=120363321675231023@newsletter
CHANNEL=https://whatsapp.com/channel/0029VagLDl6BFLgUIWV9aV2d
IMAGE=https://raw.githubusercontent.com/FrioNode/Bloombot/main/colors/luna.png
LANG=EN
REACT=false
EMOJI=🌘
REBOOT=false
IS_DOCKER=false
TIMEZONE=Continet/Capitalo
MODE=group
WEATHERKEY=weather_api_key
GROQ=https://console.groq.com/keys
PIXELKEY=pixel_api_key
NINJAKEY=ninja_key
MAXSTOREMESSAGES=20
STOREWRITEINTERVAL=10000
